<style>
  body{
    background-image: url('https://c.tenor.com/CE3vW9TamXQAAAAC/intruder-mandela-catalogue.gif');
    background-size: cover;



    height: 100vh;
    padding:0;
    margin:0;
}
</style>

<body>

</body>
