<style>
  div {
      width: 200px;
      height: 100px;

      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;

      margin: auto;
  }

  p {
    font-family: Courier;
  }

  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 42%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
</style>

<body>
  <div>
    <p> under construction. </p>
    <button type="button" onclick="location.href = '/login';" class="center">login</button>
  </div>
</body>
